.reviews{
    background: #C9A87D;
    width: 100vw;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 600px;
}

.reviews h1{
    text-align: center;
    color: #9C6E56;
}

.reviewsBackground ul{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin: 10px;
    list-style: none;
}

.reviewsBackground ul li{
    height: 300px;
    width: 30vw;
    border-radius: 20px;
    background-color: #9C6E56;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.reviewsBackground ul li img{
    height: 150px;
    width: 15vw;
    border-radius: 20px;
    background-color: #9C6E56;
    position: relative;
}

.reviewsBackground ul li p{
    color: black;
    font-size: 25px;
    font-family: 'badScript';
    position: relative;
    left: 1vw;
}

button{
    width: 15vw;
    height: 100px;
    background: #AC5343;
    border-radius: 15px;
    position: relative;
    left: 41vw;
    font-family: 'badScript';
    font-size: 30px;
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    border: none;
}

.footer{
    background: white;
    position: absolute;
    width: 100vw;
    height: 349px;
    top: 600px;
}

.logoFooter{
    background: url("/assets/bigFloppaLogo.jpg");
    width: 162px;
    height: 162px;
    border-radius: 50%;
}

.footer ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: relative;
    right: 20px;
}

.company ul{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    text-align: left;
    position: relative;
    top:50px;
}

.company ul li button{
    background: none;
    border: none;
    font-size: 20px;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    z-index: 7;
    color: black;
    left: 0;
    top: 0;
}

.company ul li{
    padding-top: 10px;
}

.company ul li:first-child{
    font-weight: bold;
}

.information ul{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    text-align: left;
    position: relative;
    top:50px;
}

.information ul li{
    padding-top: 10px;
}

.information ul li:first-child{
    font-weight: bold;
}

.stroke{
    position: absolute;
    width: 90vw;
    height: 3px;
    left: 70px;
    top: 850px;
    background: rgba(0, 0, 0, 0.5);
}

.footerEnd ul{
    position: absolute;
    width: 90vw;
    height: 30px;
    top: 900px;
    color: black;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.footerEnd ul li{
    font-family: 'Montserrat';
}

.footerEnd ul .social{
    position: relative;
    bottom: 30px;
}

.footerEnd ul img{
    position: relative;
    top: 10px;
}